<!-- <h1>Property Binding</h1>

<input type="text" [value]="personObj.name">
<input type="text" [value]="personObj.age">

<button disabled=[btnEstado]>Enviar</button>
<button [disabled]="btnEstado">Cambiar</button>
<input type="text" [value]="name">
<progress max="100" [value]="edad"> </progress>
<img width="100" [src]="img" alt="" />

<hr/> -->

<h1>Hola Mundo</h1>
<!-- <h1>Hola Mundo - string interpolation</h1> -->
<!-- <h2>{{ 'hola mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<p>Este es un {{ name }}, hoy es {{ edad }}</p>
<img src="{{ img }}" alt="" /> -->